# Alterar para localhost:5432 para rodar localmente
DATABASE_URL="postgresql://admin:password@db:5432/inventory_db"
PORT=3333
NODE_ENV=development

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=inventory_db

JWT_SECRET="sua_chave_secreta_super_segura"
